*{
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    background-image: url("../img/fondo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

a{
    text-decoration: none;
    list-style: none;
}

h1{
    font-size: 70px;
}

.header {
    padding: 5px;
    text-align: center;
    color: white;
    background: linear-gradient(to top, transparent 0%, black 100%);
}

.header:hover{
    cursor: pointer;;
}

.main {
    display: flex;
    justify-content: center;
}

.box {
    padding: 10px;
    background-color: rgba(129, 129, 129, 0.425);
    height: 100px;
    width: 100px;
    margin: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 40px;
    font-size: 1.1em;
    text-shadow: 2px 2px 2px #000000;
}

a{
    color: white;
    text-decoration: none;

}

.box:hover {
    font-size: 1.4em;
    transition: font-size, 400ms;
    cursor: pointer;
    background-color: rgba(204, 204, 204, 0.425);
    box-shadow: 0px 0px 0px 5px white;
}

img {
    width: 50px;
    position: fixed;
    right: 10px;
    bottom: 10px;
}